<section class="p-4 border rounded bg-light">
  <h2>About us</h2>
  <p>
    This is the parent component. Use the links below to load child components
    inside the outlet.
  </p>

  <!-- 
    NESTED ROUTING: PARENT VIEW
    - Use relative paths for child routes.
    - router-outlet: Destination for child components.
  -->
  <nav class="mb-3">
    <a routerLink="company" routerLinkActive="fw-bold text-primary" class="me-3"
      >Company</a
    >
    <a routerLink="team" routerLinkActive="fw-bold text-primary">Team</a>
  </nav>

  <hr />

  <div class="p-3 bg-white border">
    <router-outlet></router-outlet>
  </div>

  <alert>
    <span>About Component</span>
  </alert>
</section>
