<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img
        src="favicon.ico"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top me-2"
      />
      <span class="fw-bold">StudyAngular</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- 
            =========================================
            ROUTING: routerLink vs href
            =========================================
            - Use [routerLink] for internal navigation to keep the app as a Single Page Application (No Reload).
            - Use [href] ONLY for links outside the application or for a full page refresh.
          -->
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="text-primary fw-bold"
            >Home</a
          >
        </li>
        <!-- 
          [routerLinkActiveOptions]="{ exact: true }"
          - By default, active classes are applied if the URL *starts with* the path (prefix match).
          - With {exact: true}, the class is ONLY applied if the URL matches the path exactly.
          - Use this when you want to deactivate the "Parent" link when a "Child" route is active.
        -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="text-primary fw-bold"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
